{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        {% block content %}
        <div class="dash-div">    
                <div class = "inner-heading">
                    <h3 align = 'center' style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>WELCOME, {{userinfo['name'].upper()}}</strong></h3>

                </div>
                <img align="middle" src="{{userinfo['picture']}}"/>
                <br>
                <p>Click the button below to view to see the threads!</p>
                <br>
                <br>
                    <form method="POST">
                        <br>
                        <button type="submit" class="btn btn-outline-primary btn-lg btn-logout btn-block">Get Twitter Thread</button>
                    </form>
                <br>
                <a sclass="btn btn-outline-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
        </div>
        {% endblock %}
    </div>
</div>
</body>
</html>