{% extends "base.html" %} {% block title %}Cuckoo-HOME{% endblock %} {% block content
    %}
    <div class = "container">
        <div class="home-div">
            <h1>C U C K O O</h1>
            <br>
            <p>~Your Personal Twitter Bot~</p>
            <a class="btn btn-outline-primary btn-lg" href="/login">Login</a>
            <br>
            <br>
            <p>*Use Login to Twitter Option on the Login window to access the app :)</p>
            <p> <3
            </p>
        </div>
    </div>
    
    {% endblock %}