{% extends 'base.html' %}
{% block title %}Thread-Fail{% endblock %}
{% block content %}

<div class="twit-div-fail">
    <h3>Whoops! Looks like noone mentioned you in any thread?</h3>
    <p>
        You still think someone mentioned you and its a problem from the dev side?
        Please contact us...
    </p>
    <a class="btn btn-outline-primary btn-lg" enabled>See Tweets</a>
    <br>
    <br>
    <p>
        * You'll be redirected to a new page containing the tweets and threads!
    </p>
</div>
{% endblock %}