.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-div{
    -webkit-box-shadow: 6px 7px 39px 7px rgba(0,0,0,0.56); 
    box-shadow: 6px 7px 39px 7px rgba(0,0,0,0.56);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #e1e3e4;
    border-radius: 30px;
    margin: 20px 0 20px 0;
}

.home-div>.inner-heading{
    margin: 0px 20px 0px 20px;
}
.home-div>img{
    border: solid 1px black;
    border-radius: 100px;
}

.home-div>h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 50px 0 50px;
}

.home-div>h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 50px 0 50px;
}

.home-div>a{
    margin: 10px 50px 10px 50px;
}

.twit-div{
    display: flex;
    background-color: aquamarine;
    text-align: center;
    border-radius: 30px;
}

.twit-div>h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
